.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

.circleci/**
node_modules/
tailwind.config.js
*.vsix
.eslintrc.yml
.prettierrc.yml
README_DEV.md